h1{ /* For Complete Website*/
    font-family: Lexend Deca;
    font-weight: 700;
}

.aboutme{
    background-color: #111827;
    padding:4%;
}

.section-title{
    color:#EAB308;
}

.aboutme-title{
    color: #F3F4F6;
    font-family: Lexend Deca;
    font-weight: bold;
}
.aboutme-content {
    color : #6B7280;
    padding-right:10%;
    justify-items: left;
}

.image1{
    width: 50%;
    height: 70%;
    border-radius: 24px;
    transform: scaleX(-1);
}

.aboutme-container{
   display: flex;
   align-items:left;
   align-content: left;
   width: 70%;
   margin: auto;
}
.aboutme-items{
    margin: 2%;
    margin-left: 10%;
}

.aboutme{
    background-color: #020617;
    margin: 2%;
}

